### Example user template
# IntelliJ project files
.idea
*.iml
out
gen
target
build
/mvp4g2/.gradle
/JsInteropTest/war/WEB-INF/lib/mvp4g2-1.0-SNAPSHOT.jar
/JsInteropTest/.gradle
/mvp4g2/build/libs/mvp4g2-1.0-SNAPSHOT.jar
/mvp4g2/build/classes
/mvp4g2/build
/JsInteropTest/war/WEB-INF/classes
jsinteroptest
/JsInteropTest/war/jsinteroptest
/JsInteropTest/gradle
/mvp4g2/gradle
